-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get do
 Include: 
 - @all_ratings.each do |rating|
  = rating
  = check_box_tag("ratings[#{rating}]",1,@selected[rating])
 = submit_tag 'Refresh' 

%table#movies
 %thead
  %tr
   %th{:id => "title_header", :class =>"#{@hilite_title}"}= link_to('Movie Title',movies_path(:sort =>'title',:rating => @selected.values))
   %th Rating
   %th{:id =>"release_date_header", :class =>"#{@hilite_date}"}= link_to('Release Date',movies_path(:sort =>'release_date',:rating =>@selected.values))
   %th  More Info
 %tbody
  - @movies.each do |movie|
   %tr
    %td= movie.title 
    %td= movie.rating
    %td= movie.release_date
    %td= link_to "More about #{movie.title}", movie_path(movie)

=link_to 'Add new movie', new_movie_path






